ipynb
numpy==1.23.5
matplotlib==3.7.5
pandas==1.5.3
keras==2.10.0
keras_cv==0.4.2
tensorflow==2.10.1
protobuf==3.19.6
opencv-python==4.8.1.78
albumentations==1.3.1
pydicom==2.4.4
tqdm==4.66.5
scikit-learn==1.2.2
scipy==1.10.1
typing-extensions==4.12.2
pydantic==1.10.19
ipython==8.18.1
vit_keras==0.1.2
seaborn==0.13.2
nbconvert==7.16.4
papermill==2.6.0
ipykernel==6.29.5
streamlit==1.12.0
